// variables
$full: 100%;
$places-clr: #3077ab;
$places-width: 250px;
$search-margin: 10px;
$search-padding: 4px;

// styles
html {
	height: $full;
}

body {
	height: $full;
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
}

#map-canvas, #app-section{
	height: $full;
}

#sidebar {
	height: $full;
	float: left;
	width: $places-width;
	background-color: $places-clr;
	border-style: solid;
	border-width: 0;
	overflow: scroll;
	padding-right: 5px;

	#search-bar {
		background-color: #aaa;
		width: $places-width;

		input[type="text"] {
			font-size: 1.2em;
			border-style: solid;
			border-width: 0 0 3px 0;
			border-color: $places-clr;
			padding: $search-padding;
			margin: $search-margin;
			width: $places-width - 2 * ($search-margin + $search-padding);
		}
	}

	ul {
		color: white;
		padding: 0;
		margin: 0;

		li {
			margin: 0;
			padding: 10px;
			border-style: solid;
			border-width: 0 0 1px 0;
			border-color: rgba(255, 255, 255, 0.5);
		}
	}
}
